@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vinevenido al GREMIO</h1>
    <p>SOMOS:::::      <a href="link aqui">UNA ASOCIASION DE MISIONES</a>.</p>
</div>
